<% if @tag %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">Tag of the day </h3>
    </div>
    <div class="panel-body">
      <h4 class="main_body"><a href="tags/<%= @tag.name %>">#<%= @tag.name %></a></h4>
      <p class="main_body"> <%= raw @para_of_the_day.body %> </p>
      <p class="small indent"> <a href="/pages/<%= @para_of_the_day.page.id %>"> You wrote this <%= time_ago_in_words(@para_of_the_day.created_at) %> ago... <span  type='button' class="glyphicon glyphicon-arrow-right"> </span> </a>
      </p>
    </div>
  </div>
<% else %>
  <div> <p> There are no starred entries at the moment. </p> </div>
<% end %>
<hr />
<% if @todos_past.first %>
  <ul class="list-group">
    <% @todos_past.each do |todo| %>
      <li class="list-group-item list-group-item-danger">
        <span class="badge pull-left"> <%= time_ago_in_words(todo.todo) %> ago </span>
        <p class="todo_list"> <%= raw todo.body %> </p>
        <span id="<%= todo.id %>" type='button' class="todo_done icon glyphicon glyphicon-ok pull-right"> </span>
        <div class="dropdown pull-right">
          <span class="icon glyphicon glyphicon-option-horizontal pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/pages/<%= todo.page.id %>">Go to page</a></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @todos_present.first %>
  <ul class="list-group">
    <% @todos_present.each do |todo| %>
      <li class="list-group-item list-group-item-info">
        <span class="badge pull-left"> today </span>
        <p class="todo_list"><%= raw todo.body %></p>
        <span id="<%= todo.id %>" type='button' class="todo_done icon glyphicon glyphicon-ok pull-right"> </span>
        <div class="dropdown pull-right">
          <span class="icon glyphicon glyphicon-option-horizontal pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/pages/<%= todo.page.id %>">Go to page</a></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @todos_tomorrow.first %>
  <ul class="list-group">
    <% @todos_tomorrow.each do |todo| %>
      <li class="list-group-item list-group-item-info">
        <span class="badge pull-left"> tomorrow </span>
        <p class="todo_list"><%= raw todo.body %></p>
        <span id="<%= todo.id %>" type='button' class="todo_done icon glyphicon glyphicon-ok pull-right"> </span>
        <div class="dropdown pull-right">
          <span class="icon glyphicon glyphicon-option-horizontal pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/pages/<%= todo.page.id %>">Go to page</a></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @todos_future.first %>
  <ul class="list-group">
    <% @todos_future.each do |todo| %>
      <li class="list-group-item list-group-item-success">
        <span class="badge pull-left"> Due in <%= distance_of_time_in_words_to_now(todo.todo) %> </span>
        <p class="todo_list"> <%= raw todo.body %> </p>
        <span id="<%= todo.id %>" type='button' class="todo_done icon glyphicon glyphicon-ok pull-right"> </span>
        <div class="dropdown pull-right">
          <span class="icon glyphicon glyphicon-option-horizontal pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/pages/<%= todo.page.id %>">Go to page</a></li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @any.first == nil %>
  There are no todos currently
<% end %>

<script>

$(".next_btn").click(function(){
  $.post('/welcome/next_paragraph')
});

$(".todo_done").click(function(){
  $.post('/welcome/paragraph_remove_todo', {body: $(this).attr('id')})
    $(this).parent().hide('slow');
});
</script>
