<% if @important %>
  <div class="panel panel-default">
    <label class="btn glyphicon glyphicon-chevron-right next_btn pull-right"></label>
    <label class="second btn glyphicon glyphicon-chevron-right next_btn pull-right"></label>
    <div class="panel-heading">
      <h3 class="panel-title">You wrote this <%= time_ago_in_words(@important.created_at) %> ago... </h3>
    </div>
    <div class="panel-body">
      <p class="main_body"> <%= raw @important.body %> </p>
    </div>

  </div>
<% end %>
<hr />
<% if @todos_past.first %>
  <ul class="list-group">
    <% @todos_past.each do |todo| %>
      <li class="list-group-item list-group-item-danger">
        <span class="badge pull-left"> <%= todo.todo %> </span>
        <p> <%= raw todo.body %> </p>
        <span type='button' class="icon glyphicon glyphicon-ok pull-right"> </span>
        <span type='button' class="icon glyphicon glyphicon-option-horizontal pull-right"> </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @todos_present.first %>
  <ul class="list-group">
    <% @todos_present.each do |todo| %>
      <li class="list-group-item list-group-item-info">
        <span class="badge pull-left">  today </span>
        <p><%= raw todo.body %></p>
        <span type='button' class="icon glyphicon glyphicon-ok pull-right"> </span>
        <span type='button' class="icon glyphicon glyphicon-option-horizontal pull-right"> </span>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @todos_future.first %>
  <ul class="list-group">
    <% @todos_future.each do |todo| %>
      <li class="list-group-item list-group-item-success">
        <span class="badge pull-left"> <%= todo.todo %> </span>
        <p> <%= raw todo.body %> </p>
        <span type='button' class="icon glyphicon glyphicon-ok pull-right"> </span>
        <span type='button' class="icon glyphicon glyphicon-option-horizontal pull-right"> </span>
      </li>
    <% end %>
  </ul>
<% end %>

<script>

$(".next_btn").click(function(){
  $.post('/welcome/next_paragraph')
});

</script>
